<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<servlet-class>servlets.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/servlets/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/servlets/Login</url-pattern>
  </servlet-mapping>
  <listener>
  	<description>serverSocket</description>
	<listener-class>server.ServerSocketListener</listener-class>
  </listener>
  
</web-app>

